:root {
    --body-background-color: #1b1c30;
    --nav-items-color: #636670;
    --special-icon-color: #6236ff;
    --body-sections-color: #26273b;
    /* --add-user-button-gradient: linear-gradient(to right, #ff8348, #6236ff); */
}