:root {
    --body-background-color: #1b1c30;
    --nav-items-color: #636670;
    --special-icon-color: #6236ff;
    --body-details-color: #26273b;
    /* --add-user-button-gradient: linear-gradient(to right, #ff8348, #6236ff); */
}

body {
    background-color: var(--body-background-color);
    margin: 0;
}

.logo {
    width: fit-content;
    margin-top: 10px;
    margin-left: 10px;
}

.logo-image {
    width: 100px;
}

.horizontal-line {
    color: 0.5px solid var(--body-details-color);
    min-width: 100%;
}

.vertical-line {
    color: 0.5px solid var(--body-details-color);
    transform: rotate(90deg);
    min-height: 100%;
}